
@{
    ViewBag.Title = "Agradecimento";
    Layout = "~/Views/Shared/_Agradecimento.cshtml";
}

<div class="banner">
 
 <center><img class="seven-logo" src= "../Content/img/logo_bx.png"  alt="logo_centro"></center>
</div>
 
<div class="jumbotron text-center">
  <h1>Aproveite seu E-Book!</h1>
  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3></h3>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3>Baixe aqui!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-primary" onclick="location.href='https://www.sendspace.com/file/n31ws1';">Baixe aqui</button>
    </div>
    <div class="col-sm-4">
      <h3></h3>
      <p></p>
      <p></p>
    </div>
  </div>
</div>

