@using WeMoveU.LandingPage.Web.Models
@model  DadosCadastro
@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
}


<div class="clearfix" id="page">
    <!-- column -->
    <div class="position_content" id="page_position_content">
        <div class="clearfix colelem" id="ptopo">
            <!-- group -->
            <a class="anchor_item grpelem" id="topo"></a>
            <div class="clip_frame grpelem" id="u1351">
                <!-- image -->
                <img class="block" id="u1351_img" src="~/Content/images/logo_bx_tipografia.png" alt="" width="254" height="63" />
            </div>
            <nav class="MenuBar clearfix grpelem" id="menuu1176">
                <!-- horizontal box -->
                <div class="MenuItemContainer clearfix grpelem" id="u1417">
                    <!-- vertical box -->
                    <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u1418" href="#beneficios"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u1419-4"><!-- content --><p>BENEFÍCIOS</p></div></a>
                </div>
                <div class="MenuItemContainer clearfix grpelem" id="u1191">
                    <!-- vertical box -->
                    <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u1192" href="#produto"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u1193-4"><!-- content --><p>PRODUTO</p></div></a>
                </div>
                <div class="MenuItemContainer clearfix grpelem" id="u1177">
                    <!-- vertical box -->
                    <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u1180" href="#contato"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u1183-4"><!-- content --><p>CONTATO</p></div></a>
                </div>
            </nav>
        </div>
        <div class="SlideShowWidget clearfix colelem" id="slideshowu1155">
            <!-- none box -->
            <div class="popup_anchor" id="u1165popup">
                <div class="SlideShowContentPanel clearfix" id="u1165">
                    <!-- stack box -->
                    <div class="SSSlide clip_frame grpelem" id="u1166">
                        <!-- image -->
                        <img class="ImageInclude" id="u1166_img" src="~/Content/images/transacoes-imobiliarias.jpg" alt="" width="1220" height="717" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix colelem" id="ppu1404">
            <!-- group -->
            <div class="grpelem" id="pu1404">
                <!-- inclusion -->
                <div id="u1404"><!-- simple frame --></div>
                <div class="clearfix" id="pu1414-9">
                    <!-- column -->
                    <img class="colelem" id="u1414-9" alt="Melhore o seu site nas redes de busca.
Mais de um milhão e meio de pessoas buscam imobiliárias todo mês no Google" width="398" height="202" src="~/Content/images/u1414-9.png" /><!-- rasterized frame -->
                    <a class="nonblock nontext Button anim_swing rounded-corners clearfix colelem" id="buttonu1401" href="#compra"><!-- container box --><div class="clearfix grpelem" id="u1403-4"><!-- content --><p>Fazer o relatório</p></div></a>
                </div>
            </div>
            <div class="grpelem" id="u1213"><!-- image --></div>
            <a class="anchor_item grpelem" id="beneficios"></a>
        </div>
        <div class="browser_width colelem" id="u1102-bw">
            <div id="u1102">
                <!-- column -->
                <div class="clearfix" id="u1102_align_to_page">
                    <div class="position_content" id="u1102_position_content">
                        <div class="clearfix colelem" id="u1123-4">
                            <!-- content -->
                            <p>&nbsp;Obtenha agora um relatório personalizado sobre a situação do seu negócio</p>
                        </div>
                        <div class="clearfix colelem" id="pbuttonu1103">
                            <!-- group -->
                            <div class="Button clearfix grpelem" id="buttonu1103">
                                <!-- container box -->
                                <div class="rounded-corners clearfix colelem" id="u1104">
                                    <!-- group -->
                                    <div class="clip_frame grpelem" id="u1542">
                                        <!-- image -->
                                        <img class="block" id="u1542_img" src="~/Content/images/one-finger-click%20(1).png" alt="" width="64" height="64" />
                                    </div>
                                </div>
                                <div class="clearfix colelem" id="u1105-4">
                                    <!-- content -->
                                    <p>Aumente o número de clientes somente por estar em primeiro nas buscas!</p>
                                </div>
                            </div>
                            <div class="Button clearfix grpelem" id="buttonu1113">
                                <!-- container box -->
                                <a class="nonblock nontext rounded-corners clearfix colelem" id="u1117" href="http://www.musefree.com"><!-- group --><div class="clip_frame grpelem" id="u1548"><!-- image --><img class="block" id="u1548_img" src="~/Content/images/piggy-bank.png" alt="" width="64" height="64" /></div></a>
                                <div class="clearfix colelem" id="u1116-4">
                                    <!-- content -->
                                    <p>Baixo custo de investimento e manutenção.</p>
                                </div>
                            </div>
                            <div class="Button clearfix grpelem" id="buttonu1118">
                                <!-- container box -->
                                <div class="rounded-corners clearfix colelem" id="u1122">
                                    <!-- group -->
                                    <div class="clip_frame grpelem" id="u1554">
                                        <!-- image -->
                                        <img class="block" id="u1554_img" src="~/Content/images/money.png" alt="" width="64" height="64" />
                                    </div>
                                </div>
                                <div class="clearfix colelem" id="u1120-4">
                                    <!-- content -->
                                    <p>Melhor retorno sobre o seu investimento possível!</p>
                                </div>
                            </div>
                        </div>
                        <a class="anchor_item colelem" id="produto"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="browser_width colelem" id="u1067-bw">
            <div class="museBGSize" id="u1067">
                <!-- group -->
                <div class="clearfix" id="u1067_align_to_page">
                    <div class="clearfix grpelem" id="pu1431">
                        <!-- column -->
                        <div class="clip_frame colelem" id="u1431">
                            <!-- image -->
                            <img class="block" id="u1431_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                        </div>
                        <div class="clip_frame colelem" id="u1437">
                            <!-- image -->
                            <img class="block" id="u1437_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                        </div>
                        <div class="clip_frame colelem" id="u1440">
                            <!-- image -->
                            <img class="block" id="u1440_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                        </div>
                        <div class="clip_frame colelem" id="u1443">
                            <!-- image -->
                            <img class="block" id="u1443_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                        </div>
                    </div>
                    <div class="clearfix grpelem" id="pu1068-3">
                        <!-- column -->
                        <div class="clearfix colelem" id="u1068-3">
                            <!-- content -->
                            <p>&nbsp;</p>
                        </div>
                        <img class="colelem" id="u1426-13" alt="Posicionamento do Google Posicionamento dos concorrentes Dicas para melhor posicionamento Previsão de vendas ao alcançar a posição número 1" width="451" height="321" src="~/Content/images/u1426-13.png" /><!-- rasterized frame -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix colelem" id="pu1506">
            <!-- group -->
            <div class="browser_width grpelem" id="u1506-bw">
                <div id="u1506">
                    <!-- group -->
                    <div class="clearfix" id="u1506_align_to_page">
                        <a class="anchor_item grpelem" id="compra"></a>
                        <div class="clearfix grpelem" id="pu1503-6">
                            <!-- column -->
                            <div class="clearfix colelem" id="u1503-6">
                                <!-- content -->
                                <p><span id="u1503">​</span><span><span class="actAsInlineDiv normal_text" id="u1505"><!-- content --><span class="actAsDiv clearfix excludeFromNormalFlow" id="u1504-4"><!-- content --><span class="actAsPara">adquira seu relatório agora de R$99,90 por R$49,90</span></span></span></span><span></span></p>
                            </div>
                            <div class="clearfix colelem" id="pu1526">
                                <!-- group -->
                                <div class="clearfix grpelem" id="u1526">
                                    <!-- column -->
                                    <div class="clip_frame colelem" id="u1508">
                                        <!-- image -->
                                        <img class="block" id="u1508_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                                    </div>
                                    <div class="clip_frame colelem" id="u1510">
                                        <!-- image -->
                                        <img class="block" id="u1510_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                                    </div>
                                    <div class="clip_frame colelem" id="u1512">
                                        <!-- image -->
                                        <img class="block" id="u1512_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                                    </div>
                                    <div class="clip_frame colelem" id="u1514">
                                        <!-- image -->
                                        <img class="block" id="u1514_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                                    </div>
                                    <div class="clip_frame colelem" id="u1522">
                                        <!-- image -->
                                        <img class="block" id="u1522_img" src="~/Content/images/check-circle-outline-512.png" alt="" width="32" height="32" />
                                    </div>
                                </div>
                                <div class="clearfix grpelem" id="u1502-17">
                                    <!-- content -->
                                    <p>Rankeamento no Google</p>
                                    <p>&nbsp;</p>
                                    <p>Quantidade de backlinks</p>
                                    <p>&nbsp;</p>
                                    <p>Análise das palavras-chave do site</p>
                                    <p>&nbsp;</p>
                                    <p>Previsão de faturamento ao se posicionar em 1º lugar</p>
                                    <p>&nbsp;</p>
                                    <p>Dicas para melhorar o website</p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-grp clearfix grpelem", id = "widgetu1364" }))
            {
                <!--ValidationSummary: Exibe apenas os erros identificados com false, com true apresenta qualquer erro-->
                @Html.ValidationSummary(false)
                    <!--Cria Token de sessão-->
                @Html.AntiForgeryToken()
                <!-- none box -->
                <div class="fld-grp clearfix grpelem" id="widgetu1371" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1372-4" for="widgetu1371_input"><!-- content -->Nome:</label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1373-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1371_input" name="Nome" tabindex="1" /><label class="wrapped-input fld-prompt" id="widgetu1371_prompt" for="widgetu1371_input"></label></span>

                </div>
                <div class="fld-grp clearfix grpelem" id="widgetu1367" data-required="true" data-type="email">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1370-4" for="widgetu1367_input"><!-- content --><span class="actAsPara">Email:</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1368-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1367_input" name="Email" tabindex="2" /><label class="wrapped-input fld-prompt" id="widgetu1367_prompt" for="widgetu1367_input"></span>
                </div>
                <div class="clearfix grpelem" id="u1375-4">
                    <!-- content -->
                    <p>Submitting Form...</p>
                </div>
                <div class="clearfix grpelem" id="u1365-4">
                    <!-- content -->
                    <p>The server encountered an error.</p>
                </div>
                <div class="clearfix grpelem" id="u1376-4">
                    <!-- content -->
                    <p>Form received.</p>
                </div>
                <input class="submit-btn NoWrap grpelem" id="u1366-17" type="submit" value="" tabindex="10" /><!-- state-based BG images -->
                <div class="fld-grp clearfix grpelem" id="widgetu1450" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1452-4" for="widgetu1450_input"><!-- content --><span class="actAsPara">Website:</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1453-5"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1450_input" name="Website" tabindex="3" /><label class="wrapped-input fld-prompt" id="widgetu1450_prompt" for="widgetu1450_input"></span>
                </div>
                <div class="fld-grp clearfix grpelem" id="widgetu1478" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1481-4" for="widgetu1478_input"><!-- content --><span class="actAsPara">Endereço</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1479-5"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1478_input" name="Endereco" tabindex="5" /><label class="wrapped-input fld-prompt" id="widgetu1478_prompt" for="widgetu1478_input"></label></span>
                </div>
                <div class="fld-grp clearfix grpelem" id="widgetu1482" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1484-4" for="widgetu1482_input"><!-- content --><span class="actAsPara">Cidade:</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1485-5"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1482_input" name="Cidade" tabindex="6" /><label class="wrapped-input fld-prompt" id="widgetu1482_prompt" for="widgetu1482_input"></label></span>
                </div>
                <div class="fld-grp clearfix grpelem" id="widgetu1486" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1489-4" for="widgetu1486_input"><!-- content --><span class="actAsPara">Estado:</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1487-5"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1486_input" name="Estado" tabindex="7" /><label class="wrapped-input fld-prompt" id="widgetu1486_prompt" for="widgetu1486_input"></label></span>
                </div>
                <div class="fld-grp clearfix grpelem" id="widgetu1490" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1492-4" for="widgetu1490_input"><!-- content --><span class="actAsPara">Cep:</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1491-5"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1490_input" name="Cep" tabindex="8" /><label class="wrapped-input fld-prompt" id="widgetu1490_prompt" for="widgetu1490_input"></label></span>
                </div>
                <div class="fld-grp clearfix grpelem" id="widgetu1494" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1495-4" for="widgetu1494_input"><!-- content --><span class="actAsPara">País:</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1496-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1494_input" name="Pais" tabindex="9" /><label class="wrapped-input fld-prompt" id="widgetu1494_prompt" for="widgetu1494_input"></label></span>
                </div>
                <div class="fld-grp clearfix grpelem" id="widgetu1498" data-required="true">
                    <!-- none box -->
                    <label class="fld-label actAsDiv clearfix grpelem" id="u1500-4" for="widgetu1498_input"><!-- content --><span class="actAsPara">Empresa:</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1501-5"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1498_input" name="Empresa" tabindex="4" /><label class="wrapped-input fld-prompt" id="widgetu1498_prompt" for="widgetu1498_input"></label></span>
                </div>

            }
            <div class="clearfix grpelem" id="u1527-4">
                <!-- content -->
                <p>E MUITO MAIS!</p>
            </div>
        </div>
        <a class="anchor_item colelem" id="contato"></a>
        <div class="clearfix colelem" id="u975-4">
            <!-- content -->
            <p>Contato</p>
        </div>
        <div class="clearfix colelem" id="pu776">
            <!-- group -->
            <div class="grpelem" id="u776"><!-- simple frame --></div>
            <div class="grpelem" id="u778"><!-- simple frame --></div>
            <div class="grpelem" id="u790"><!-- simple frame --></div>
        </div>
        <a class="nonblock nontext Button anim_swing rounded-corners clearfix colelem" id="buttonu1530" href="index.html#topo"><!-- container box --><div class="clearfix grpelem" id="u1532-4"><!-- content --><p>Voltar para o topo</p></div></a>
        <div class="verticalspacer"></div>
    </div>
</div>
<!--Image Includes-->
<div class="preload_images">
    <img class="preload" src="~/Content/images/u1366-17-r.png" alt="" />
    <img class="preload" src="~/Content/images/u1366-17-m.png" alt="" />
    <img class="preload" src="~/Content/images/u1366-17-fs.png" alt="" />
    <img class="preload" src="~/Content/images/twitter.png" alt="" />
    <img class="preload" src="~/Content/images/facebook.png" alt="" />
    <img class="preload" src="~/Content/images/instagram.png" alt="" />
</div>
<!--End Image Includes-->
<!-- JS includes -->
<script type="text/javascript">
    if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/"~/scripts//4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
<script type="text/javascript">
    window.jQuery || document.write('\x3Cscript src="~/scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/js")
<!-- End JS includes -->
<!--PagSeguro-->
<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
<!--End PagSeguro-->
<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5GJR9S');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GJR9S"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!--Google Analytics-->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-76689334-4', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analytics-->
<!-- Other "~/scripts/ -->
<script type="text/javascript">
    $(document).ready(function () {
        try {
            (function () {
                var a = {}, b = function (a) { if (a.match(/^rgb/)) return a = a.replace(/\s+/g, "").match(/([\d\,]+)/gi)[0].split(","), (parseInt(a[0]) << 16) + (parseInt(a[1]) << 8) + parseInt(a[2]); if (a.match(/^\#/)) return parseInt(a.substr(1), 16); return 0 }; (function () { $('link[type="text/css"]').each(function () { var b = ($(this).attr("href") || "").match(/\/?css\/([\w\-]+\.css)\?(\d+)/); b && b[1] && b[2] && (a[b[1]] = b[2]) }) })(); (function () {
                    $("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
                    for (var c = $(".version"), d = 0; d < Muse.assets.required.length;) {
                        var f = Muse.assets.required[d], g = f.match(/([\w\-\.]+)\.(\w+)$/), k = g && g[1] ? g[1] : null, g = g && g[2] ? g[2] : null; switch (g.toLowerCase()) {
                            case "css": k = k.replace(/\W/gi, "_").replace(/^([^a-z])/gi, "_$1"); c.addClass(k); var g = b(c.css("color")), h = b(c.css("background-color")); g != 0 || h != 0 ? (Muse.assets.required.splice(d, 1), "undefined" != typeof a[f] && (g != a[f] >>> 24 || h != (a[f] & 16777215)) && Muse.assets.outOfDate.push(f)) : d++; c.removeClass(k); break; case "js": k.match(/^jquery-[\d\.]+/gi) &&
                            typeof $ != "undefined" ? Muse.assets.required.splice(d, 1) : d++; break; default: throw Error("Unsupported file type: " + g);
                        }
                    } c.remove(); if (Muse.assets.outOfDate.length || Muse.assets.required.length) c = "Alguns arquivos no servidor podem estar ausentes ou incorretos. Limpe o cache do navegador e tente novamente. Se o problema persistir, entre em contato com o autor do site.", (d = location && location.search && location.search.match && location.search.match(/muse_debug/gi)) && Muse.assets.outOfDate.length && (c += "\nOut of date: " + Muse.assets.outOfDate.join(",")), d && Muse.assets.required.length && (c += "\nMissing: " + Muse.assets.required.join(",")), alert(c)
                })()
            })();
            /* body */
            Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
            Muse.Utils.prepHyperlinks(true);/* body */
            Muse.Utils.initWidget('.MenuBar', function (elem) { return $(elem).museMenu(); });/* unifiedNavBar */
            Muse.Utils.initWidget('#slideshowu1155', function (elem) { $(elem).data('widget', new WebPro.Widget.ContentSlideShow(elem, { heroFitting: 'fillFrameProportionally', autoPlay: true, displayInterval: 3500, slideLinkStopsSlideShow: false, transitionStyle: 'fading', lightboxEnabled_runtime: false, shuffle: false, transitionDuration: 500, enableSwipe: true, elastic: 'fullWidth', resumeAutoplay: true, resumeAutoplayInterval: 3000, playOnce: false, autoActivate_runtime: false })); });/* #slideshowu1155 */
            Muse.Utils.resizeHeight()/* resize height */
            $('#u1067').registerBackgroundPositionScrollEffect([{ "in": [-Infinity, 1021.95], "speed": [0, 0] }, { "in": [1021.95, Infinity], "speed": [0, 0] }]);/* scroll effect */
            Muse.Utils.initWidget('#widgetu1364', function (elem) { new WebPro.Widget.Form(elem, { validationEvent: 'submit', errorStateSensitivity: 'high', fieldWrapperClass: 'fld-grp', formSubmittedClass: 'frm-sub-st', formErrorClass: 'frm-subm-err-st', formDeliveredClass: 'frm-subm-ok-st', notEmptyClass: 'non-empty-st', focusClass: 'focus-st', invalidClass: 'fld-err-st', requiredClass: 'fld-err-st', ajaxSubmit: true }); });/* #widgetu1364 */
            Muse.Utils.fullPage('#page');/* 100% height page */
            Muse.Utils.showWidgetsWhenReady();/* body */
            Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
        } catch (e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }
    });
</script>
